langchain
langchain-classic
langchain-core
pypdf
pydantic
python-docx
langchain-chroma # Vector Database
chromadb
langchain-google-genai
sentence-transformers
langchain-mistralai
python-dotenv
streamlit
uvicorn
fastapi
requests
tqdm
numpy
pandas
tiktoken # Text Processing
httpx