langchain
langchain-core
pypdf
langchain-chroma # Vector Database
sentence-transformers
langchain-mistralai
python-dotenv
torchvision
streamlit
uvicorn
fastapi
requests
tqdm
numpy
pandas
tiktoken # Text Processing